@import url("https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap");
body {
    font-family: "Macondo Swash Caps", cursive;
}

.navbar.navbar-expand-lg {
    background-color: #ff8533;
}

.navbar.navbar-expand-lg .nav-link {
    color: white;
}

.navbar.navbar-expand-lg .navbar-brand {
    color: white;
}

.myPrecious {
    margin-top: 100px;
}

h1 {
    margin-left: 20px;
    margin-right: 20px;
}

.myPrecious {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.smallRing {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    box-shadow: 5px 5px 5px #cc5200;
    border: 5px solid #ff8533;
    background-color: transparent;
}

.bigRing {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    box-shadow: 20px 20px 20px #ccaa00;
    border: 20px solid #FFDD33;
    background-color: transparent;
}

.loop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sixRings {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.ring:nth-child(1) {
    height: 53.3333333333px;
    width: 53.3333333333px;
    border-radius: 100px;
    box-shadow: 5.3333333333px 5.3333333333px 5.3333333333px #4d4d4d;
    border: 5.3333333333px solid grey;
    background-color: transparent;
    margin-right: -5%;
}

.ring:nth-child(2) {
    height: 66.6666666667px;
    width: 66.6666666667px;
    border-radius: 100px;
    box-shadow: 6.6666666667px 6.6666666667px 6.6666666667px #4d4d4d;
    border: 6.6666666667px solid grey;
    background-color: transparent;
    margin-right: -5%;
}

.ring:nth-child(3) {
    height: 80px;
    width: 80px;
    border-radius: 100px;
    box-shadow: 8px 8px 8px #4d4d4d;
    border: 8px solid grey;
    background-color: transparent;
    margin-right: -5%;
}

.ring:nth-child(4) {
    height: 93.3333333333px;
    width: 93.3333333333px;
    border-radius: 100px;
    box-shadow: 9.3333333333px 9.3333333333px 9.3333333333px #4d4d4d;
    border: 9.3333333333px solid grey;
    background-color: transparent;
    margin-right: -5%;
}

.ring:nth-child(5) {
    height: 106.6666666667px;
    width: 106.6666666667px;
    border-radius: 100px;
    box-shadow: 10.6666666667px 10.6666666667px 10.6666666667px #4d4d4d;
    border: 10.6666666667px solid grey;
    background-color: transparent;
    margin-right: -5%;
}

.ring:nth-child(6) {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    box-shadow: 12px 12px 12px #4d4d4d;
    border: 12px solid grey;
    background-color: transparent;
    margin-right: -5%;
}